@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
} 
@media(min-width: 701px){
  *{
    /* font-family:  "Verdana", Sans-serif; */
    /* font-family:  "Georgia", Serif; */
    font-family:  "Lucida Handwriting", "Comic Sans MS", "Comic Sans", Cursive;
  }
}
@media(max-width: 700px){
  *{
    /* font-family:  "Verdana", Sans-serif; */
    font-family:  "Georgia", Serif; 
    /* font-family:  "Lucida Handwriting", "Comic Sans MS", "Comic Sans", Cursive; */
  }
}
nav{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding-bottom: 2vh;
  
}

button{
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 20%;
}

button:hover{
    background-color: lightgrey;
    color: black;
}

.logo_text{
    font-size: 40px;
    color: rgba(30,30,30);
    letter-spacing: 2px;
}

.btn{
  display:flex;
  background-color: black;
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 20%;
  justify-content: center;
  align-items: center;
}

.sign-out{
  margin: 0rem;
}
.createquiz:hover{
  background-color: lightgray;
  color: black;
}

.profile-img{
  margin-right: 2rem;
}


.home-main{
  padding: 2rem;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #FFFFFF 0%,  #4B9CD3 200%);
  min-height: 80vh;
  height: auto;
  gap: 2vh;
  padding-bottom: 2vh;
}
.test{
  background-color: rgba(5,5,55,.75)
}

h1{
  font-size: 8vh;
}
h2{
  font-size: 5vh;
}
h3{
  font-size: 4vh;
}
h4{
  font-size: 3vh;
}
h5{
  font-size: 2vh;
}

.perw60{
  width: 70%;
}

.guest-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  padding: 5vh;
}


.dropdown_link{
  display:flex;
  text-align: right;
  padding-top: .5vh;
  

}

.mobile-profile{
  margin-right: 0;
}

.object-contain12{
  width: 90;
  height: auto;
}

.dropdown{
  padding-right: 2vw;
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column; 
  position: absolute;
  justify-content: center;
  align-items: flex-end;
  right: 0;
  top: 50px;
  background-color: white;
  min-width: 140px;
}
.dropdown > button{
  width: 120px;

}




.create-quiz-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5vh;
  align-items: center;
  gap: 2vh;
}
.new-quiz

.quiz-textarea{
  width: 70vw;
  height: 60vh;
  border: 2px solid black;
}

.create-quiz-button{
  width:200px;
  height: 50px;
  background-color: #72A0C1;
 
}
.createquiz-example{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.quiz-title{
  
  border: 2px solid black;
  border-radius: 5%;
  width: 250px;
  /* margin-left: 1vw;
  margin-right: 5vw; */
  
}

.your-quizzes{
  display: flex;
  flex-direction: row;
  
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.bar-seperate{
  margin-top: 2vh;
  width: 90%;
  height: 5px;
  border-top: 2px solid lightgray;
  line-height: 80%;
}
.your-quizzes-title{
  margin-top: 2vh;
  text-align: center
}

.quizcard{
  display:flex;
  flex-direction: column;
  text-align: center;
  min-width: 25vw;
  max-width: 25vw;
  min-height: 300px;
  height: auto;
  padding-bottom: 1vh;
  background-color: white;
  margin: 5vh 2vw 0 2vw;
  border-radius: 5%;
  box-shadow: 0px 0px 2px .5px black;
}



.quizzes{
  /* background-color: white; */
  width: 100vw;
  min-height: 80vh;
  height: auto;
  
  
}
.quizcard-buttons{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-self: stretch;
  
}
.quizcard-link{
  background-color: none;
  /* padding: 0 2vw 0 2vw; */
  display: flex;
  width: auto;
  height: auto;
  padding: .4vh 0 .4vh 0;
  align-items: center;
  justify-content: center;
}
.quizcard-button{
  width:6vw;
  height: 35px;
  background-color: black;
  color: white;
}
.quizcard-button:hover{
  background-color: lightgrey;
}


.button-none button{
  width: 100px;
  height: 100px;
  background-color: red;
}


@media(max-width: 700px){
  .your-quizzes{
    display: grid;
    max-width: 75vw;
    margin: 0 auto 0 auto;
    grid-auto-flow: row;
  }
  .quizcard{
    max-width: 50vw;
  }
  .quizcard-button{
    width: 15vw;
    
  }
}

/*
@media (max-width: 700px) {
  .grid-adjustable-columns {
    display: grid;
    grid-auto-flow: row;
  }
}

*/





/* flashcards css */
.flashcards-container{
  width:100vw;
  height: 85vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  background-color: none;
  gap: 2vw;
  
}
.flashcard{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: auto;
  min-height: 40vh;
  box-shadow: 0px 0px 4px 2px black;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding-left: 2vw;
  background-color: white;

  /* word-wrap: break-word; */
}

.study-title{
  display: flex;
  background-color: none;
  justify-content: center;
  padding-top: 6vh;
}
.study-container2{
  background: linear-gradient(to bottom, #FFFFFF 0%,  #4B9CD3 250%);
}

@media (max-width: 700px){
  .flashcard{
    width: 80vw;
    height: 50vh;
    font-size: 24px;
  }
}



.caret{
  font-size: 6rem;
  font-weight: 100;
  user-select: none;
}
.left{
  transform: rotate(-90deg);
}
.right{
  transform: rotate(90deg);
}
/* .caret:hover{
  
} */
.caret:active{
  font-size: 5.5rem;
  font-weight: 80;
  color: red;
}

.get-answer{
  display: flex;
  width: auto;
  padding: 1.5vw;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  
  
}
.answer-question{
  
}

/* margin bottom */
.mb{
  margin-bottom: auto;
}








/* learn css */
.learn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: none;
  height: 80vh;
  gap: 5rem;

}
.learn-title{
  background-color: none;
  font-size: 4rem;
  padding:4vh;
  text-align:center;
}

/*learn cards*/
.learn-container{
  width:100vw;
  height: 85vh;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  background-color: none;
  gap: 2vw;
}
.learn-container2{
  background: linear-gradient(to bottom, #FFFFFF 0%,  #4B9CD3 250%);

  /* background: rgb(75,156,211);
background: linear-gradient(0deg, rgba(75,156,211,1) 0%, rgba(87,163,214,1) 17%, rgba(224,238,247,1) 66%, rgba(255,255,255,1) 100%); */
}

.learn-card{
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: auto;
  min-height: 45vh;
  box-shadow: 0px 0px 4px 2px black;
  align-items: center;
  /* justify-content: center; */
  font-size: 2rem;
  padding-left: 2vw;
  background-color: white;
}

.learn-answer{
  color: black;
  padding: .5vw;
  display: flex;
  font-size:1.2rem;
  background-color: lightgray;
  margin: 2vh;
  /* min-width: 550px;
  min-height: 50px; */
  min-width: 30vw;
  min-height: 50px;
  height: auto;
  border-radius: 5%;
  justify-content: center;
  align-items: center;


  transition-duration: .15s;

}



.learn-answer:hover{
  background-color: white;
  color: lightgray;
  box-shadow: 0px 0px 2px .5px black;
}
.learn-answer:active{
  border: solid black;
  transform: scale(.95);
}

.learn-question{
  margin-top: 4vh;
  font-size: 2rem;
  min-height: 100px;
  text-align: center;
  
}

.learn-answers{
  display:grid;
  grid-template-columns: 1fr 1fr;
  
}
@media(max-width: 700px){
  .learn-answers{
    grid-template-columns: 1fr;
  }
  .learn-card{
    height:auto;
  }
  .learn-question{
    font-size: 1.25rem;
  }
  .learn-answer{
    margin-left:auto;
    margin-right: auto;
    width: 60vw;
    font-size: 1rem;
  }
}

.green{
  background-color: green;

}
.green:hover{
  background-color:green;
  color: black;
}

.red{
  background-color: red;

}
.red:hover{
  background-color:red;
  color: black;
}

.check{
  text-align: center;
  
  
}